<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="selectedCourse.id; else elseblock"
      >{{ originalTitle }}
    </mat-card-title>
    <ng-template #elseblock>Select Course</ng-template>
  </mat-card-header>
  <form #form="ngForm" (submit)="save.emit(selectedCourse)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Title"
          name="title"
          required
          [(ngModel)]="selectedCourse.title"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Description"
          name="description"
          [(ngModel)]="selectedCourse.description"
          type="text"
        />
      </mat-form-field>
      <section class="full-width">
        <h4>{{ selectedCourse.percentComplete }}% Complete</h4>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          name="percentComplete"
          [(ngModel)]="selectedCourse.percentComplete"
        >
        </mat-slider>
      </section>
      <section>
        <mat-checkbox [(ngModel)]="selectedCourse.favorite" name="favorite">
          Favorite
        </mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-button
        color="primary"
      >
        Save
      </button>

      <button type="button" mat-button color="warn" (click)="cancel.emit()">
        cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
